.callOverlay{
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99998;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease-in-out;
}

.callOverlay.active{
    pointer-events: all;
    opacity: 1;
}

.callOverlay.collapse{
    width: auto;
    height: unset;
    bottom: 20px;
    right: 20px;
    left: auto;
    top: auto;
    background: none;
}

.callWrapper, .callWrapperBig{
    width: 100%;
    max-width: 285px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 3.5rem);
    margin: 1.75rem auto;
}

.callWrapperBig{
    max-width: 450px;
}

.collapse .callWrapper, .collapse .callWrapperBig{
    margin: 0;
    min-height: unset;
}

.callContent, .callContentBig{
    width: 100%;
    border-radius: 4px;
    background: var(--white);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s ease-in-out;
    transform: scale(.8);
    gap: 16px;
    border: 1px solid var(--white);
}

.callContent.active{
    transform: scale(1);
}

.collapse .callContent{
    background: var(--white);
    padding: 2.4rem;
    border: 1px solid var(--line);
}

.callButtons, .callButtonsNear{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: .8rem;
}

.callButtonsNear{
    justify-content: center;
}

.callAvatar{
    animation: 1.2s linear 0s infinite normal none running call;
}

@keyframes call{
    0% {
        box-shadow: 0 0 0 9px var(--pulse), 0 0 0 0 var(--pulse), 0 0 0 0 var(--pulse);
    }
    50% {
        box-shadow: 0 0 0 15px var(--pulse), 0 0 0 9px var(--pulse), 0 0 0 0 var(--pulse);
    }
    100% {
        box-shadow: 0 0 0 21px var(--pulse), 0 0 0 15px var(--pulse), 0 0 0 9px var(--pulse);
    }
}

.subText{
    color: var(--textGrey);
}