.inputInner{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}

@media (any-hover: hover) {
    .inputInner:hover .fileLabel{
        opacity: 1;
        pointer-events: all;
    }

    .fileLabelHoverButton{
        cursor: pointer;
    }
}

@media (any-hover: none) {
    .inputInner.active .fileLabel{
        opacity: 1;
        pointer-events: all;
    }
}

.file{
    display: none;
}

.fileLabel{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    opacity: 0;
    pointer-events: none;
    transition: .2s linear;
}

.fileLabel.avatar{
    border-radius: 50%;
}

.fileLabelText{
    display: none;
}

@media (any-hover: none) {
    .fileLabel.avatar, .fileLabel{
        border-radius: 4px;
        top: calc(100% + 8px);
        left: 0;
        width: 200px;
        border: 1px solid var(--line);
        background: var(--white);
        height: auto;
        padding: 0.8rem 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .fileLabelText{
        display: inline-block;
    }
}

@media (max-width: 440px) {
    .fileLabelText{
        font-size: 1.4rem;
    }
}

.fileLabelHoverButton{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background: var(--main);
    transition: .2s linear;
}

.fileLabelHoverButton:hover{
    opacity: 0.75;
}

.fileLabelHoverButton.delete{
    background: var(--error);
}

.fileLabelHoverButton svg{
    width: 20px;
}

.fileLabelHoverButton svg path{
    stroke: #fff;
}

@media (any-hover: none) {
    .fileLabelHoverButton{
        width: 100%;
        height: auto;
        padding: 0.8rem 1.2rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        border-radius: 0;
        background: transparent;
        color: var(--text);
    }

    .fileLabelHoverButton:hover{
        background: var(--lighten);
        opacity: 1;
        color: var(--main);
    }

    .fileLabelHoverButton svg path{
        stroke: var(--text);
    }

    .fileLabelHoverButton:hover svg path{
        stroke: var(--main);
    }

    .fileLabelHoverButton.delete{
        background: transparent;
    }

    .fileLabelHoverButton.delete:hover{
        background: var(--errorB);
        color: var(--error);
    }

    .fileLabelHoverButton.delete:hover svg path{
        stroke: var(--error)
    }
}

.fileLabelImg{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.fileLoading{
    z-index: 3;
    background: rgba(0, 0, 0, .5);
    border-radius: 50%;
}