.voice{
    width: calc(100% - 44px);
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.6rem .8rem;
    border-radius: 4px;
    transition: .2s linear;
}

@media (max-width: 480px) {
    .voice{
        width: 100%;
    }
}

.voice audio{
    display: none;
}

.voice:hover{
    background: var(--input);
}

.voicePlay{
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 50%;
    background: var(--lighten);
    display: flex;
    align-items: center;
    justify-content: center;
}

.voicePlay svg{
    width: 18px;
}

.voicePlay svg path{
    stroke: var(--main);
}

.voiceLine{
    flex-grow: 1;
    height: 4px;
    border-radius: 50px;
    background: var(--lighten);
    position: relative;
}

.voiceProgress{
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    background: var(--main);
    transition: .1s linear;
}