.wrapper{
    width: 100%;
    display: flex;
    min-height: calc(100vh - 65px);
    position: relative;
}

.sidebar{
    width: 100%;
    max-width: 280px;
    flex-shrink: 0;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.6rem 0;
    -webkit-transition: .2s ease-in-out;
    transition: max-width .2s ease-in-out;
    transition-delay: .1s;
    overflow-y: auto;
}

@media (max-width: 1500px) {
    .sidebar{
        max-width: 56px;
        position: absolute;
        height: 100%;
        z-index: 5;
        overflow-x: hidden;
    }

    .sidebar:hover{
        max-width: 250px;
    }
}
@media (max-width: 480px) {
    .sidebar, .sidebar:hover{
        max-width: 100%;
    }

    .sidebar{
        transform: translateX(-110%);
    }

    .sidebar.active{
        transform: translateX(0);
    }
}

.content{
    width: 100%;
    padding: 2.4rem;
    background: var(--input);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

@media (max-width: 1500px) {
    .content{
        margin-left: 5.6rem;
    }
}
@media (max-width: 500px) {
    .content{
        padding: 1.2rem;
    }
}
@media (max-width: 480px) {
    .content{
        margin-left: 0;
    }
}

.sidebarLink{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.8rem 2.4rem;
    white-space: nowrap;
}

@media (max-width: 1500px) {
    .sidebarLink{
        padding: .8rem 1.6rem;
        gap: 16px;
    }

    .sidebar:hover .sidebarLink{
        gap: 8px;
    }
}
@media (max-width: 480px) {
    .sidebar:hover .sidebarLink, .sidebarLink{
        gap: 12px;
    }
}

.sidebarLink:hover{
    background: var(--infoB);
    color: var(--main);
}

.sidebarLink:hover svg path{
    stroke: var(--main);
}

.sidebarLink svg{
    width: 24px;
    flex-shrink: 0;
}

.mainBlocks{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.mainBlock{
    width: calc(100% / 2 - 16px / 2);
    padding: 2.4rem;
    border-radius: 8px;
    background: var(--white);
    display: flex;
    gap: 32px;
}

@media (max-width: 1100px) {
    .mainBlock{
        width: 100%;
    }
}
@media (max-width: 600px) {
    .mainBlock{
        flex-direction: column-reverse;
        align-items: center;
        gap: 24px;
    }
}
@media (max-width: 440px) {
    .mainBlock{
        padding: 1.6rem;
    }
}

.mainBlockContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

@media (max-width: 768px) {
    .mainBlockContent{
        gap: 8px;
    }
}

.mainBlockContent p{
    margin-bottom: 1.2rem;
}

.mainBlockImgInner, .mainBlockImg{
    width: 100%;
    max-width: 210px;
    max-height: 210px;
    display: flex;
    margin: auto 0;
}

@media (max-width: 1300px) {
    .mainBlockImgInner, .mainBlockImg{
        max-width: 150px;
        max-height: 150px;
    }
}

.mainBlockImgInner{
    flex-shrink: 0;
}

.mainTitle span, .mainSubtitle span{
    color: var(--main);
}

.mainSubtitle span{
    font-weight: 700;
}

.mainBlockLink{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: auto;
    color: var(--main);
    font-weight: 500;
}

.mainBlockLink:hover svg{
    transform: translateX(4px);
}

.mainBlockLink svg{
    width: 20px;
    flex-shrink: 0;
    transition: .2s linear;
}

.mainBlockLink svg path{
    stroke: var(--main)
}

.benefits{
    width: 100%;
    margin-top: 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

@media (max-width: 500px) {
    .benefits{
        gap: 20px;
    }
}

.benefitsTitle{
    text-align: center;
}

.benefitsContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.benefitsItem{
    width: calc(100% / 2 - 16px / 2);
    padding: 1.6rem;
    border-radius: 8px;
    background: var(--white);
    display: flex;
    gap: 30px;
}

.benefitsItem.small{
    width: calc(100% / 3 - 32px / 3);
}

@media (max-width: 1100px) {
    .benefitsItem, .benefitsItem.small{
        width: 100%;
    }

    .benefitsItem.small:first-child, .benefitsItem.small:nth-child(2){
        width: calc(100% / 2 - 16px / 2);
    }
}
@media (max-width: 768px) {
    .benefitsItem.small:first-child, .benefitsItem.small:nth-child(2){
        width: 100%;
    }
}
@media (max-width: 600px) {
    .benefitsItem{
        flex-direction: column-reverse;
        align-items: center;
        gap: 24px;
    }
}

.benefitsItemTextInner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.benefitsItemTextInner p{
    margin-bottom: 1.2rem;
}