.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.titleInner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
}

.titleWrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}

.notifiesContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.notifiesMoreButton{
    margin: 0 auto;
}