.subjectTasksInner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.subjectTasksContent{
    width: 100%;
    border-radius: 4px;
    background: var(--input);
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.subjectTaskItem{
    width: 100%;
    border-radius: 4px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 1.2rem;
}

.subjectTaskAdd{
    margin: 0 auto;
}

.subjectTaskAdd button{
    display: flex;
    align-items: center;
    gap: 4px;
}

.subjectTaskAdd svg{
    width: 20px;
}

.subjectTaskAdd svg path{
    stroke: var(--main);
}

.subjectTaskNum{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--main);
    background: var(--lighten);
    font-weight: 600;
    font-size: 1.8rem;
}

.subjectItemDeleteInner, .subjectTaskItemDelete{
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.subjectTaskItemDelete{
    align-items: center;
    justify-content: space-between;
}

.subjectSteps{
    width: 100%;
    max-width: 350px;
    margin-bottom: 2.4rem;
}

@media (max-width: 575px) {
    .subjectSteps{
        margin-bottom: 1.2rem;
        max-width: 100%;
    }
}

/* Таблица */
.subjectPointsItem{
    width: 100%;
    display: flex;
    gap: 8px;
}

.subjectPointsHead, .subjectPointsValue{
    width: calc(100% / 2 - 8px / 2);
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.subjectPointsActions{
    min-width: 64px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.subjectPointsValue{
    padding: 0.4rem;
    font-size: 1.6rem;
    border-radius: 4px;
    background: var(--input);
}

.error .subjectPointsValue{
    background: var(--errorB);
    color: var(--error);
}

.success .subjectPointsValue{
    background: var(--successB);
    color: var(--success);
}

.subjectPointsAction{
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--input);
    flex-shrink: 0;
}

@media (any-hover: hover) {
    .subjectPointsAction{
        display: none;
    }

    .subjectPointsItem:hover .subjectPointsAction, .subjectPointsAction.show{
        display: flex;
    }
}

.subjectPointsAction svg{
    width: 18px;
}

.top{
    background: var(--errorB);
}

.top svg path{
    stroke: var(--error);
}

.bottom svg path{
    stroke: var(--success);
}

.bottom{
    background: var(--successB);
}

.subjectsPointsValue{
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}