.containerFull, .container{
    width: 100%;
    max-width: 1600px;
}

.container{
    max-width: 1200px;
}

.baseWrapperGap16{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.titleInner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}

.titleWrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}