.containerFull, .container{
    width: 100%;
    max-width: 1600px;
}

.container{
    max-width: 1200px;
}

.textCenter{
    width: 100%;
    text-align: center;
}

.baseWrapperGap12, .baseWrapperGap16, .baseWrapperGap8, .baseWrapperGap4, .baseWrapperGap20, .baseWrapperGap0,
.baseWrapperGap40, .baseWrapperGap24{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.baseWrapperGap16{
    gap: 16px;
}

.baseWrapperGap8{
    gap: 8px;
}

.baseWrapperGap20{
    gap: 20px;
}

.baseWrapperGap4{
    gap: 4px;
}

.baseWrapperGap0{
    gap: 0;
}

.baseWrapperGap40{
    gap: 40px;
}

.baseWrapperGap24{
    gap: 24px;
}

.titleInner, .titleInnerNowrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}

.titleInnerNowrap{
    flex-wrap: nowrap;
}

.titleWrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}

.contentItems{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.item2{
    width: calc(100% / 2 - 12px / 2);
}

.item3{
    width: calc(100% / 3 - 24px / 3);
}

.item4{
    width: calc(100% / 4 - 36px / 4);
}

@media (max-width: 1100px) {
    .item2{
        width: 100%;
    }

    .item3{
        width: calc(100% / 2 - 12px / 2);
    }

    .item4{
        width: calc(100% / 3 - 24px / 3);
    }
}
@media (max-width: 950px) {
    .item4{
        width: calc(100% / 2 - 12px / 2);
    }
}
@media (max-width: 900px) {
    .item3{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .item3{
        width: calc(100% / 2 - 12px / 2);
    }
}
@media (max-width: 660px) {
    .item3{
        width: 100%;
    }
}
@media (max-width: 575px) {
    .item4{
        width: 100%;
    }
}

.form, .formMedium{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin: 0 auto;
}

.formMedium{
    max-width: 550px;
}

.circle32, .circle36, .circle40, .circle44, .circle50, .circle25, .circle75{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--lighten);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--main);
    position: relative;
    flex-shrink: 0;
}

.circle36{
    width: 36px;
    height: 36px;
}

.circle40{
    width: 40px;
    height: 40px;
}

.circle44{
    width: 44px;
    height: 44px;
}

.circle50{
    width: 48px;
    height: 48px;
}

@media (max-width: 768px) {
    .circle50{
        width: 40px;
        height: 40px;
    }
}

.circle25{
    width: 25px;
    height: 25px;
    font-size: 1.4rem;
}

.circle75{
    width: 75px;
    height: 75px;
    font-size: 3.2rem;
}

.circleAvatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.format{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.format img, .format table, .format pre{
    margin: 0.6rem 0;
}

.format ul{
    margin: 0 0 0.6rem 0;
}

.format img{
    max-width: 100%;
    margin: 0 auto;
}

.format ul, .format ol{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.format ul li{
    position: relative;
    padding-left: 1.4rem;
}

.format ul li:before{
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--main);
    position: absolute;
    left: 0;
    top: 8px;
}

.format ol li{
    display: flex;
    align-items: center;
    gap: 6px;
}

.format ol li input{
    margin: 0;
}

.format table{
    width: 100%;
    background: var(--input);
    border-radius: 4px;
    border-spacing: 0;
    border: 1px solid var(--line);
}

.format thead, .format tbody{
    width: 100%;
}

.format tbody{
    border-top: 1px solid var(--main);
}

.format td, .format th{
    text-align: left;
    padding: 0.4rem 1.6rem;
    border-right: 1px solid var(--line);
    border-bottom: 1px solid var(--line);
}

.format td:last-child, .format th:last-child{
    border-right: none;
}

.format thead:last-child th, .format tbody tr:last-child td{
    border-bottom: none;
}

@media (max-width: 600px) {
    .format td, .format th{
        padding: 0.4rem 1.2rem;
        font-size: 1.4rem;
    }
}

.format a{
    color: var(--main);
}

.format pre{
    border-radius: 4px;
    width: 100%;
    background: var(--input);
    padding: 0.8rem;
    overflow-x: auto;
}

@media (max-width: 768px) {
    .format{
        font-size: 1.4rem;
    }
}

.aic{
    align-items: center;
}

.aifs{
    align-items: flex-start;
}

.tag{
    padding: 0.8rem 1.6rem;
    border-radius: 4px;
    background: var(--lighten);
    color: var(--main);
    border: 1px solid transparent;
    flex-shrink: 0;
}

.tag.active{
    border: 1px solid var(--main);
}

@media (any-hover: hover) {
    .tag:hover{
        border: 1px solid var(--main);
    }
}

.tagElement, .tagElementIcon{
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    background: var(--lighten);
    color: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tagElementIcon{
    padding: 0;
    width: 38px;
    height: 38px;
}

.tagElementIcon svg{
    width: 20px;
}

.tagElementIcon svg path{
    stroke: var(--main);
}

.taskContent{
    width: calc(100% - 304px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

@media (max-width: 1300px) {
    .taskContent{
        width: calc(100% - 244px);
    }
}
@media (max-width: 998px) {
    .taskContent{
        width: 100%;
    }
}