.wrapper{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    flex-grow: 1;
}

@media (max-width: 768px) {
    .wrapper{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}

.content{
    width: 100%;
    padding: 2.4rem;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    min-height: 700px;
    gap: 40px;
    background: var(--white);
}

@media (max-width: 1100px) {
    .content{
        flex-direction: column;
    }
}
@media (max-height: 850px) {
    .content{
        min-height: 500px;
    }
}
@media (max-height: 650px) {
    .content{
        min-height: unset;
    }
}
@media (max-width: 768px) {
    .content{
        min-height: unset;
    }
}
@media (max-width: 440px) {
    .content{
        padding: 1.2rem;
    }
}

.sidebar{
    width: 100%;
    max-width: 280px;
    flex-shrink: 0;
    padding: 1.6rem 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--white);
    position: sticky;
    top: 0px;
}

@media (max-width: 1300px) {
    .sidebar{
        max-width: 220px;
    }
}

@media (max-width: 768px) {
    .sidebar{
        max-width: 100%;
        position: relative;
    }
}