.data{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.dataContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

div.dataItem{
    width: calc(100% / 2 - 12px / 2);
}

@media (max-width: 900px) {
    div.dataItem{
        width: 100%;
    }
}

.dataButton{
    margin: auto auto 0 auto;
}