.notifyItem{
    width: calc(100% / 2 - 12px / 2);
    border-radius: 4px;
    background: var(--input);
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid transparent;
    position: relative;
}

@media (max-width: 1100px) {
    .notifyItem{
        width: 100%;
    }
}
@media (max-width: 450px) {
    .notifyItem{
        padding: 1.2rem;
    }
}

.notifyItem.unread:before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--error);
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.notifyItemWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.notifyItemContent{
    display: flex;
    align-items: center;
    gap: 12px;
}

.notifyItemIconInner{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--lighten);
}

.notifyItemIconInner svg{
    width: 24px;
    flex-shrink: 0;
}

.notifyItemIconInner svg path{
    stroke: var(--main);
}

.notifyItemIconInner.session{
    background: var(--notifyRed);
}

.notifyItemIconInner.session svg path{
    stroke: var(--error);
}

.notifyItemTitleInner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.notifyItemDate{
    color: var(--textGrey);
}

.notifyItemTextContent{
    max-height: 100px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-break: break-word;
}

.notifyItemText{
    margin: 1.2rem 0 0 0;
}

.notifyItemText:last-of-type{
    margin: 1.2rem 0 1.6rem 0;
}

.notifyItemButtonInner{
    width: 100%;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}

.notifyItemLink{
    color: var(--main);
}

.notifyItemFrom span{
    color: var(--textGrey);
}