.header{
    width: 100%;
    padding: 1.2rem 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--input);
    min-height: 65px;
    background: var(--white);
}

@media (max-width: 1500px) {
    .header{
        padding: 1.2rem;
    }
}

.headerLogoInner{
    width: 89px;
    display: flex;
    flex-shrink: 0;
}

.headerLogo{
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--main);
    line-height: 1.2;
}

.headerProfileInner{
    position: relative;
}

@media (any-hover: hover) {
    .headerProfileInner{
        cursor: pointer;
    }

    .headerProfileInner:hover .headerProfileArrow{
        transform: rotate(180deg);
    }

    .headerProfileInner:hover .headerProfileMenuInner{
        opacity: 1;
        pointer-events: all;
    }
}

.headerProfileWrap{
    display: flex;
    align-items: center;
    gap: 8px;
}

.headerProfileImgInner, .headerProfileMenuImgInner{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: var(--lighten);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerProfileMenuImgInner{
    width: 44px;
    height: 44px;
}

.headerProfileName{
    color: var(--main);
    font-weight: 500;
    font-size: 2rem;
    position: relative;
}

.headerProfileImg, .headerProfileMenuImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headerProfileNick{
    font-weight: 600;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 440px) {
    .headerProfileNick{
        display: none;
    }
}

.headerProfileArrow{
    width: 16px;
    flex-shrink: 0;
    transition: .2s ease-in-out;
}

@media (any-hover: none) {
    .headerProfileArrow.active{
        transform: rotate(180deg);
    }
}

.headerLogin{
    background: var(--main);
    color: #fff;
    border-radius: 4px;
    padding: 0.8rem 1.6rem;
}

.headerLogin:hover{
    opacity: 0.8;
}

.headerProfileMenuInner{
    width: 280px;
    padding-top: 6px;
    flex-shrink: 0;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    opacity: 0;
    transition: .2s ease-in-out;
    pointer-events: none;
    cursor: default;
}

@media (any-hover: none) {
    .headerProfileMenuInner.active{
        opacity: 1;
        pointer-events: all;
    }
}

.headerProfileMenu{
    width: 100%;
    padding: 1.6rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid var(--lightLine);
    background: var(--white);
}

.headerProfileMenuInfo{
    width: calc(100% - 2.4rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 1.2rem .8rem 1.2rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--line);
}

.headerProfileLvl{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main);
    color: #fff;
    flex-shrink: 0;
}

.headerProfileMenuData{
    display: flex;
    align-items: center;
    gap: 12px;
}

.headerProfileMenuNameInner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.headerProfileMenuName{
    font-weight: 600;
}

.headerProfileMenuStatus{
    color: var(--textGrey);
}

.headerProfileMenuLink{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 0.8rem 1.2rem;
    transition: .2s linear;
    position: relative;
}

@media (max-width: 440px) {
    .headerProfileMenuLink{
        font-size: 1.4rem;
    }
}

.headerProfileMenuLink:hover{
    background: var(--lighten);
    color: var(--main);
}

.delete:hover{
    background: var(--errorB);
    color: var(--error);
}

.headerProfileMenuLink svg{
    width: 24px;
}

@media (max-width: 440px) {
    .headerProfileMenuLink svg{
        width: 20px;
    }
}

.headerProfileMenuLink:hover svg path{
    stroke: var(--main);
}

.delete:hover svg path{
    stroke: var(--error);
}

.headerProfileNotifyCount{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--error);
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    font-size: 1.4rem;
}

.headerThemeCheckbox{
    display: none;
}

.headerThemeLabel{
    margin-left: auto;
    pointer-events: none;
}

.headerLogoWrapper{
    display: flex;
    align-items: center;
    gap: 16px;
}

.menuIconInner{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--input);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media (min-width: 1500px) {
    .menuIconInner{
        display: none;
    }
}

@media (any-hover: hover) {
    .menuIconInner{
        display: none;
    }
}

@media (max-width: 480px) {
    .menuIconInner{
        display: flex;
    }
}

.menuIcon, .crossIcon{
    width: 24px;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .2s ease-in-out;
    pointer-events: none;
}

.menuIcon{
    transform: translate(-90%, -50%);
}
.crossIcon{
    transform: translate(-10%, -50%);
}

.menuIcon.active, .crossIcon.active{
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%);
}

.menuIcon path, .crossIcon path{
    stroke: var(--main);
}