.logsItem{
    width: calc(100% / 2 - 12px / 2);
    padding: 1.2rem;
    border-radius: 4px;
    background: var(--input);
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

@media (max-width: 1100px) {
    .logsItem{
        width: 100%;
    }
}

.logsItemContent{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.logsItemArrow, .logsItemTypeInner{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--lighten);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.logsItemArrow svg, .logsItemTypeInner svg{
    width: 20px;
}

.logsItemArrow svg path{
    stroke: var(--main);
}

.error{
    background: var(--errorB);
}

.error svg path{
    stroke: var(--error);
}

.success{
    background: var(--successB);
}

.success svg path{
    stroke: var(--success);
}

.warn{
    background: var(--warnB);
}

.warn svg path{
    stroke: var(--warn);
}

.info{
    background: var(--infoB);
}

.info svg path{
    stroke: var(--info);
}

.logsItemInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.logsItemDate{
    color: var(--grey);
}

.logsItemEvent{
    width: 100%;
    font-weight: 600;
}

.logsItemUserInner{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.logsItemUserImgInner{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 50%;
    background: var(--lighten);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logsItemUserImg{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.logsItemUserLetter{
    color: var(--main);
    font-weight: 600;
    text-align: center;
    font-size: 1.4rem;
}