.subjectPointsItem{
    width: 100%;
    display: flex;
    gap: 8px;
}

.subjectPointsHead, .subjectPointsValue{
    width: calc(100% / 2 - 8px / 2);
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.subjectPointsActions{
    min-width: 64px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.subjectPointsValue{
    padding: 0.4rem;
    font-size: 1.6rem;
    border-radius: 4px;
    background: var(--input);
}

.error .subjectPointsValue{
    background: var(--errorB);
    color: var(--error);
}

.success .subjectPointsValue{
    background: var(--successB);
    color: var(--success);
}

.subjectPointsAction{
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--input);
    flex-shrink: 0;
}

@media (any-hover: hover) {
    .subjectPointsAction{
        display: none;
    }

    .subjectPointsItem:hover .subjectPointsAction, .subjectPointsAction.show{
        display: flex;
    }
}

.subjectPointsAction svg{
    width: 18px;
}

.top{
    background: var(--errorB);
}

.top svg path{
    stroke: var(--error);
}

.bottom svg path{
    stroke: var(--success);
}

.bottom{
    background: var(--successB);
}