.notifiesForm{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.notifiesDelayInner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.notifiesDelayItem{
    width: calc(100% / 2 - 8px / 2);
}

@media (max-width: 375px) {
    .notifiesDelayItem{
        width: 100%;
    }
}

.notifiesEditor{
    width: 100%;
}