.messangerDialogItem{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    transition: .2s linear;
    padding: 0.8rem 2.4rem;
    cursor: pointer;
}

.messangerDialogItem:hover, .selected{
    background: var(--lighten);
}

.messangerDialogItemName{
    font-weight: 600;
}

.messangerDialogItemTime{
    font-size: 1.4rem;
    color: var(--textGrey);
}