:root{
    font-size: 10px;
}

html{
    /* Colors */
    --main: #007CEE;
    --lighten: #E6F2FE;
    --input: #F5F7FA;
    --inputDarken: #eaedf0;
    --white: #fff;
    --line: #eeedf0;
    --grey: #898794;
    --text: #333;
    --textGrey: rgb(137 135 148);
    --hover: rgba(0, 0, 0, .06);
    --lightLine: rgba(0, 0, 0, 0.05);
    --qrExpiredBg: rgba(255, 255, 255, .96);
    --pulse: rgba(190, 210, 230, .2);

    /* Icons */
    --iconLightGrey: #fff;
    --iconGrey: #ccc;

    /* Notify */
    --info: #007CEE;
    --success: #10B97B;
    --warn: #FABD48;
    --error: #EF3B3B;

    /* Notify backgrounds */
    --infoB: #E6F2FE;
    --successB: #E8F8F2;
    --warnB: #FFF9ED;
    --errorB: #FEECEC;

    --notifyRed: #FEECEC;
}

@font-face{
    font-family: 'Nunito';
    font-weight: 200;
    src: url('./assets/fonts/NunitoExtraLight.ttf');
}
@font-face{
    font-family: 'Nunito';
    font-weight: 300;
    src: url('./assets/fonts/NunitoLight.ttf');
}
@font-face{
    font-family: 'Nunito';
    font-weight: 400;
    src: url('./assets/fonts/NunitoRegular.ttf');
}
@font-face{
    font-family: 'Nunito';
    font-weight: 600;
    src: url('./assets/fonts/NunitoSemiBold.ttf');
}
@font-face{
    font-family: 'Nunito';
    font-weight: 700;
    src: url('./assets/fonts/NunitoBold.ttf');
}
@font-face{
    font-family: 'Nunito';
    font-weight: 800;
    src: url('./assets/fonts/NunitoExtraBold.ttf');
}
@font-face{
    font-family: 'Nunito';
    font-weight: 900;
    src: url('./assets/fonts/NunitoBlack.ttf');
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 1.6rem;
    font-family: 'Nunito', sans-serif;
    color: var(--text);
}

body.dark{
    --white: #2d2c36;
    --input: rgb(35, 34, 41);
    --inputDarken: #131316;
    --text: #E5E8EB;
    --infoB: #33333b;
    --successB: #33333b;
    --warnB: #33333b;
    --errorB: #33333b;
    --textGrey: rgb(127 126 143);
    --line: #474747;
    --hover: rgba(255, 255, 255, .06);
    --lighten: #33333b;
    --lightLine: rgba(255, 255, 255, 0.05);
    --notifyRed: #33333b;
    --qrExpiredBg: rgba(23, 23, 23, .96);
    --pulse: rgba(85, 92, 100, 0.2);

    /* Icons */
    --iconLightGrey: rgb(127 126 143);
    --iconGrey: rgb(127 126 143);

    background: var(--input);
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

a, button, input, textarea, select{
	font-size: 1.6rem;
    font-family: 'Nunito', sans-serif;
    color: var(--text);
}

a, button, input, textarea, select, path{
    transition: .2s ease-in-out;
}

a{
	text-decoration: none;
    cursor: default;
}

ul, ol{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
	margin: 0;
	font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	appearance: none;
}

button, input{
	border: none;
	background: none;
	outline: none;
    padding: 0;
}

input{
	cursor: text;
}

input::placeholder{
    color: var(--grey);
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

#root{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

@media (any-hover: hover) {
    a, button{
        cursor: pointer;
    }
}

@media (any-hover: none) {
    a, button{
        cursor: default;
    }
}

.carousel{
    width: 100%;
}

.carousel div{
    width: 100%;
    height: 150px;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
}

/* Custom checkbox antd */
.ant-checkbox-inner{
    background: var(--input)!important;
}

.ant-checkbox-checked .ant-checkbox-inner{
    background: var(--main)!important;
}

.ant-checkbox-wrapper{
    color: var(--text);
    cursor: default!important;
}

@media (any-hover: hover) {
    .ant-checkbox-wrapper{
        cursor: pointer!important;
    }
}

/* Custom select antd */
.ant-select, .ant-select-selector input, .ant-select-dropdown .ant-select-item{
    cursor: default!important;
}

@media (any-hover: hover) {
    .ant-select, .ant-select-selector input, .ant-select-dropdown .ant-select-item{
        cursor: pointer!important;
    }
}

.ant-select-selection-item, .ant-select-selection-placeholder{
    color: var(--text)!important;
    line-height: 1.2!important;
    font-size: 1.6rem!important;
    display: flex;
    align-items: center;
}

.ant-select-selection-item{
    font-size: 1.4rem!important;
}

.ant-select-single .ant-select-selection-item{
    font-size: 1.6rem!important;
}

.ant-color-picker-input-container .ant-select-selection-item{
    font-size: unset!important;
    line-height: unset!important;
}

.ant-select-selection-placeholder{
    color: var(--grey)!important;
    inset-inline-start: 16px!important;
    inset-inline-end: 16px!important;
}

.ant-select-selector{
    background: var(--input)!important;
    border: 1px solid var(--input)!important;
    height: auto!important;
    box-shadow: none!important;
    min-height: 44px;
    padding: 0 1.6rem!important;
    border-radius: 4px!important;
}

.ant-color-picker-input-container .ant-select-selector{
    min-height: unset!important;
    padding: unset!important;
}

.ant-select-multiple .ant-select-selection-search{
    inset-inline-start: 0!important;
    inset-inline-end: 0!important;
    margin-inline-start: 0!important;
}

.ant-select-selection-search{
    inset-inline-start: 16px!important;
    inset-inline-end: 16px!important;
}

.ant-select-single .ant-select-selection-search-input{
    font-size: 1.6rem!important;
}

.ant-select-selection-search-input{
    color: var(--text)!important;
    font-size: 1.4rem!important;
}

.ant-select-single .ant-select-selection-search-input{
    height: 100%!important;
    font-size: 1.6rem!important;
}

.ant-select-dropdown{
    background: var(--input)!important;
}

.ant-select-item, .ant-select-dropdown{
    color: var(--text)!important;
}

.ant-select-item-option-selected{
    background: var(--lighten)!important;
    font-weight: 500!important;
}

.ant-select-multiple{
    border-radius: 4px!important;
    border: 1px solid transparent!important;
    transition: .2s linear;
}

.ant-select-multiple.ant-select-focused{
    border: 1px solid var(--main)!important;
}

.ant-select-multiple .ant-select-selection-item{
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.ant-color-picker-input-container .ant-select-arrow path{
    fill: var(--textGrey)!important;
}

/* Custom datepicker antd */
.ant-picker-dropdown .ant-picker-cell, .ant-picker-dropdown .ant-picker-header button{
    cursor: default!important;
}

@media (any-hover: hover) {
    .ant-picker-dropdown .ant-picker-cell, .ant-picker-dropdown .ant-picker-header button{
        cursor: pointer!important;
    }
}

.ant-picker{
    padding: 1rem 1.6rem!important;
    color: var(--text)!important;
    font-size: 1.6rem!important;
    border-radius: 4px!important;
    border: 1px solid var(--input)!important;
    background: var(--input)!important;
    min-height: 44px!important;
}

.ant-picker-focused{
    box-shadow: none!important;
    border: 1px solid var(--main)!important;
}

.ant-picker-input input{
    color: var(--text)!important;
    font-size: 1.6rem!important;
    line-height: 1!important;
}

@media (max-width: 440px) {
    .ant-picker-input input, .ant-select-selection-placeholder{
        font-size: 1.5rem!important;
    }

    .ant-picker, .ant-select-selector{
        min-height: 42px!important;
    }
}

.ant-picker-input input::placeholder{
    color: var(--grey)!important;
}

.ant-picker-clear{
    display: none;
}

.ant-picker-ranges{
    gap: 8px;
}

.ant-select-multiple .ant-select-selection-item{
    background: var(--hover)!important;
}

.ant-picker-panel-container{
    background: var(--input)!important;
}

.ant-picker-time-panel-cell-inner, .ant-picker-content th, .ant-picker-dropdown .ant-picker-cell-in-view,
.ant-picker-dropdown .ant-picker-header, .ant-picker-dropdown .ant-picker-header button{
    color: var(--text)!important;
}

.ant-picker-time-panel-cell-inner:hover, .ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner,
.ant-picker-dropdown .ant-picker-cell-disabled::before{
    background: var(--hover)!important;
}

.ant-picker-dropdown .ant-picker-cell-disabled, .ant-picker-cell{
    color: var(--textGrey)!important;
}

.ant-btn-primary:disabled{
    color: var(--text)!important;
    opacity: 0.6;
}

/* Custom color picker */
.ant-popover-arrow:before, .ant-popover-inner, .ant-input, .ant-input-affix-wrapper, .ant-input-number{
    background: var(--white)!important;
}

.ant-input-affix-wrapper, .ant-input-number{
    border: 1px solid var(--line)!important;
}

.ant-input-prefix, .ant-input, .ant-input-number-input, .ant-input-number-handler path{
    color: var(--text)!important;
}

.ant-input-number-handler-wrap{
    background: var(--input)!important;
}

.ant-input-number-handler{
    border-inline-start: 1px solid var(--line)!important;
}

.ant-input-number-handler-down{
    border-block-start: 1px solid var(--line)!important;
}

/* Custom qr antd */
.ant-qrcode{
    border: 1px solid var(--line);
}

.ant-qrcode-mask{
    background: var(--qrExpiredBg)!important;
}

.ant-qrcode-mask path{
    transition: none!important;
}

.ant-qrcode-expired{
    color: var(--text)!important;
}

/* Custom switch antd */
.ant-switch{
    background: var(--textGrey)!important;
}

.ant-switch.ant-switch-checked{
    background: var(--main)!important;
}

/* Custom tree ant */
.ant-tree{
    width: 100%;
    background: var(--input);
    padding: 1.2rem;
    border-radius: 4px;
}

.ant-tree-title{
    color: var(--text);
}

.ant-tree-checkbox-inner{
    background: var(--input)!important;
}

.ant-tree-switcher-icon svg path{
    fill: var(--text);
}

.ant-tree .ant-tree-checkbox .ant-tree-checkbox-inner:after{
    border: 2px solid var(--main)!important;
    border-top: 0!important;
    border-left: 0!important;
}

.ant-tree .ant-tree-checkbox + span:hover{
    background: var(--hover)!important;
}

.ant-tree-checkbox-checked:not(.ant-tree-checkbox-disabled):hover .ant-tree-checkbox-inner{
    border: 1px solid var(--main)!important;
}

::-moz-selection{
    background: var(--hover)!important;
    color: var(--text)!important;
}

::selection{
    background: var(--hover)!important;
}

.ce-header{
    padding: 0!important;
}

.codex-editor a{
    text-decoration: none;
    color: var(--main);
}

.codex-editor path, .codex-editor line, .codex-editor rect, .codex-editor circle{
    stroke: var(--main)!important;
}

.ce-popover, .cdx-search-field, .tc-popover, .ce-inline-toolbar, .ce-conversion-toolbar{
    background: var(--input)!important;
    border: 1px solid var(--lightLine)!important;
}

.ce-popover-item__title, .ce-conversion-toolbar__label, .cdx-button{
    color: var(--text);
}

.ce-popover-item__icon, .tc-popover__item-icon, .ce-conversion-tool__icon, .ce-code__textarea,
.cdx-button, .ce-rawtool__textarea, .cdx-checklist__item-checkbox-check, .image-tool--loading .image-tool__image{
    background: var(--input)!important;
    box-shadow: none!important;
    border: 1px solid var(--lightLine)!important;
}

.image-tool--loading .image-tool__image{
    min-height: 120px;
}

.ce-code__textarea, .ce-rawtool__textarea{
    resize: none!important;
    color: var(--text)!important;
    border-radius: 4px!important;
}

.tc-toolbox__toggler rect{
    fill: var(--input)!important;
}

.tc-row--selected, .tc-row--selected:after, .tc-row--selected:before, .tc-cell--selected,
.tc-add-row:hover:before, .ce-block--selected .ce-block__content{
    background: var(--hover)!important;
}

.tc-toolbox__toggler{
    color: var(--main)!important;
}

.cdx-list__item{
    min-height: 33px;
    list-style-type: disc;
}

.ce-inline-toolbar__dropdown{
    border-right: 1px solid var(--lightLine)!important;
}

.ce-inline-toolbar__dropdown{
    border-radius: 6px 0 0 6px!important;
}

.ce-conversion-tool--focused{
    box-shadow: none!important;
}

.cdx-warning::before{
    display: none!important;
}

.cdx-warning{
    padding-left: 0!important;
}

.cdx-marker{
    color: var(--text);
    border-radius: 4px;
    padding: 2px 0!important;
    background: #ffff003d;
}

.inline-code{
    color: var(--text)!important;
    background: var(--hover)!important;
    margin: 0!important;
    font-size: inherit!important;
}

.cdx-notifies{
    display: none!important;
}

.codex-editor--narrow .codex-editor__redactor{
    margin-right: 0;
}

.ce-toolbar__plus, .ce-toolbar__settings-btn{
    border-radius: 4px!important;
}

.ce-toolbar__actions{
    border-radius: 4px!important;
    background: var(--white);
    padding: 0!important;
}

@media (hover: hover) {
    .ce-toolbar__settings-btn:hover, .ce-toolbar__plus:hover, .ce-popover-item:hover, .tc-popover__item:hover,
    .tc-add-row:hover, .tc-add-column:hover, .ce-inline-toolbar__dropdown:hover, .ce-inline-tool:hover,
    .ce-conversion-tool:hover{
        background: var(--hover)!important;
    }

    .ce-popover-item--confirmation:hover{
        background: var(--error)!important;
    }

    .tc-toolbox__toggler:hover{
        color: var(--main)!important;
    }
}

.ant-tooltip .ant-tooltip-inner{
    text-align: center;
}

#taskEditor .codex-editor{
    z-index: 2;
}

/* Custom steps antd */
.ant-steps-item-title{
    color: var(--text)!important;
}

.ant-steps-item-title::after{
    background: var(--line)!important;
}

.ant-steps-item-active .ant-steps-item-icon, .ant-steps-item-finish .ant-steps-item-icon{
    background: var(--main)!important;
    border: 1px solid var(--main)!important;
}

.ant-steps-item-icon{
    background: var(--line)!important;
}

.ant-steps-item-active .ant-steps-icon, .ant-steps-item-finish .ant-steps-icon{
    color: #fff!important;
}

.ant-steps-icon{
    color: var(--text)!important;
}