:root{
    font-size: 10px;
}

html{
    /* Colors */
    --main: #007CEE;

    /* Notify */
    --info: #007CEE;
    --success: #10B97B;
    --warn: #FABD48;
    --error: #EF3B3B;

    /* Notify backgrounds */
    --infoB: rgba(0, 124, 238, 0.1);
    --successB: rgba(16, 185, 123, 0.1);
    --warnB: rgba(250, 189, 72, 0.1);
    --errorB: rgba(239, 59, 59, 0.1);
}

@font-face{
    font-family: 'Nunito';
    font-weight: 200;
    src: url('./assets/fonts/NunitoExtraLight.ttf');
}

@font-face{
    font-family: 'Nunito';
    font-weight: 300;
    src: url('./assets/fonts/NunitoLight.ttf');
}

@font-face{
    font-family: 'Nunito';
    font-weight: 400;
    src: url('./assets/fonts/NunitoRegular.ttf');
}

@font-face{
    font-family: 'Nunito';
    font-weight: 600;
    src: url('./assets/fonts/NunitoSemiBold.ttf');
}

@font-face{
    font-family: 'Nunito';
    font-weight: 700;
    src: url('./assets/fonts/NunitoBold.ttf');
}

@font-face{
    font-family: 'Nunito';
    font-weight: 800;
    src: url('./assets/fonts/NunitoExtraBold.ttf');
}

@font-face{
    font-family: 'Nunito';
    font-weight: 900;
    src: url('./assets/fonts/NunitoBlack.ttf');
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 1.6rem;
    font-family: 'Nunito', sans-serif;
    color: #333;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

a, button, input, textarea, select{
	transition: .2s linear;
	font-size: 1.6rem;
    font-family: 'Nunito', sans-serif;
    color: #333;
}

a{
	text-decoration: none;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
	margin: 0;
	font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	appearance: none;
}

.button, .input{
	border: none;
	cursor: pointer;
	background: none;
	outline: none;
}

.input{
	cursor: text;
}

.input::placeholder{
    color: #989898;
}

.input:focus::placeholder{
	opacity: 0;	
}