.memoCollectionTextInner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.memoCollectionTags{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.memoCollectionTitleInner{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.memoCollectionActions{
    display: flex;
    gap: 8px;
    flex-shrink: 0;
}

.memoCollectionDateInner{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.4rem;
    color: var(--textGrey);
}

.memoCollectionDateInner svg{
    width: 20px;
}

.memoCollectionDateInner svg path{
    stroke: var(--main);
}

.memoCollectionPair{
    padding: 1.2rem 1.2rem 2rem 1.2rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background: var(--input);
}

.memoCollectionTypes, .memoCollectionPairsInner{
    margin-top: 2.4rem;
}

@media (max-width: 480px) {
    .memoCollectionTypes, .memoCollectionPairsInner{
        margin-top: .8rem;
    }
}

.memoCollectionsShowAnswers{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--main);
}