.rolesContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.roleItem{
    width: calc(100% / 4 - 36px / 4);
    padding: 1.2rem;
    border-radius: 4px;
    background: var(--input);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

@media (max-width: 1250px) {
    .roleItem{
        width: calc(100% / 3 - 24px / 3);
    }
}
@media (max-width: 1040px) {
    .roleItem{
        width: calc(100% / 2 - 12px / 2);
    }
}
@media (max-width: 850px) {
    .roleItem{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .roleItem{
        width: calc(100% / 2 - 12px / 2);
    }
}
@media (max-width: 600px) {
    .roleItem{
        width: 100%;
    }
}

.roleItemNameInner{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
}

.roleItemName{
    width: 100%;
    text-align: center;
    color: var(--main);
    background: var(--lighten);
    font-size: 1.4rem;
    padding: 0.8rem 1.2rem;
    border-radius: 4px;
}

.roleItemArrow{
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--lighten);
    flex-shrink: 0;
}

.roleItemArrow svg{
    width: 24px;
}

.roleItemArrow svg path{
    stroke: var(--main);
}