.users, .appearance{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.usersTitleInner, .appearanceTitleInner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.appearanceTitleInner{
    width: auto;
    justify-content: flex-start;
}

.usersContent, .appearanceContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.usersMoreButton{
    margin: 0 auto;
}

.appearanceWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}